*{
	webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
      }
    }
p, h1, h2, h3, h4, h5, h6, b, li {
  	margin: 0;
  	padding: 0;
  	font-family: monospace;
  }

.landingp {
    background: url(../img/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

nav {
	padding-top: 50px;
	z-index: 2;
	background-color: transparent;

}

nav .logo {
	left: 50;
}

nav ul {
	list-style-type: none;
	padding:20px 0px;
	float: right
}
nav ul li {
	display: inline-block;
	padding: 0px 30px;
	cursor: pointer;
	font-size: 1.5em;
	font-family: 'Ubuntu', sans-serif;
}

nav ul li a {
	color: #DFF0D8;
	font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600
}

nav ul li a:hover, a:focus {
	text-decoration: none;
	color: rgba(223, 240, 216, 0.62)
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #27ae60;
	-webkit-transition: width .3s;
	transition: width .3s;
	margin-top: 10px
}

nav ul li a:hover::after {
    width: 100%;
}



.heading {
	text-align: center;
	padding: 0px 30px 0px 30px;
	font-size: 2.1em;
	/* font-family: 'Ubuntu', sans-serif; */
	/* font-family: 'Titillium Web', sans-serif; */
	/* font-family: 'Raleway', sans-serif; */
	font-family: 'Poiret One', cursive;
	z-index: 2;
}
.heading span:nth-child(even) {
	font-size: calc(100% + .6em);
}
.heading span:nth-child(odd) {
	color: #16a085;
	font-weight: bolder;
}

@keyframes movinArrow {
	0% {
		top: 90vh
	}
	100% {
		top: 93vh
	}
}

.landingp + .fa-angle-down {
	font-size: 40px;
	color: #16a085;
    position: absolute;
    animation: movinArrow .9s infinite;
    left: 50vw;
    right: 50vw;
    transition: all 1s ease-in-out
}

canvas { 
	display: block; 
	vertical-align: bottom; 
}

#particles-js { 
	position:absolute; 
	width: 100%; 
	height: 100%;
	z-index: 1 
} 

/* How does it work section */
div[data-border="true"] {
	border-bottom: 2px solid #16a085 ;
	width: 7%;
	margin: auto;
	display: block;
	padding: 10px 0px;
}
.hwork {
	margin-top: 50px;
	text-align: center;
}
.hwork h2 {
	color: #34495e;
	 font-family: 'Raleway', sans-serif;

}

.hwork h2 + p {
	color: rgb(113, 127, 134);
	 font-family: 'Ubuntu', sans-serif; 

}

.hwork div[data-border="true"] ~ div {
	padding: 30px 0px;
	cursor: default;
}

.hwork div[data-border="true"] ~ div > h5 {
	padding: 0px 10px;
	color: #7f8c8d;
	font-family: 'Ubuntu', sans-serif; 

}


.hwork div[data-border="true"] ~ div > i {
	font-size: 40px;
	border: 1px solid #16a085;
	color: rgb(113, 127, 134);
	border-radius: 50%;
	padding: 30px;
	margin-bottom: 30px;
}

.hwork div[data-border="true"] ~ div:hover {
	box-shadow: 0px 22px 50px -20px rgba(0,0,0,0.2)    
}

.hwork div[data-border="true"] ~ div:hover > i {
	color: #16a085;
	border-color: rgb(113, 127, 134);
	transform: rotateY(360deg);
}









/* get started section */
.getstarted {
	margin-top: 50px;
	text-align: center;
	background-color: #F3EFEF;
}
.getstarted .container {
	padding: 40px 0px
}
.getstarted h2 {
	color: #34495e;
	font-family: 'Raleway', sans-serif; 

}

.getstarted div[data-border="true"] + h5 {
	margin-top: 30px;
	color: #7f8c8d;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.5em;
	font-size: 14px 
}

.getstarted div[data-border="true"] + h5 + button {
	margin-top: 30px;
	border-radius: 20px;
	color: white;
	background-color: rgb(113, 127, 134);
	font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif
}

.getstarted div[data-border="true"] + h5 + button:hover {
	border-radius: 0px
}








/* latest project section */
.lprojects {
	text-align: center;
	background: url(../img/lbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.lprojects .container {
	padding: 40px 0px;

}
.lprojects h2 {
	color: #FFF;
	font-family: 'Raleway', sans-serif; 

}

.lprojects .headerphoto {
	margin-top: 50px;
	height: 24em;
	cursor: move
}

.lprojects .headerphoto img {
	width: 20em;
	height: 20em;
	border-radius: 50%;
	margin: auto;
	border: 2px solid rgb(22, 160, 133);
	padding: 3px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 23px 11px -10px

}

.lprojects .projectdet {
	margin-top: 30px;
	cursor: move
}

.lprojects .projectdet h4 {
	color: #FFF;
	font-size: 20px;
	margin-bottom: 10px;
	font-family: 'Poiret One', cursive;

}

.lprojects .projectdet h4 span:nth-child(3) {
	color: #eee;
	font-size: larger;
}

.lprojects .projectdet p {
	color: #FFF;
	margin-bottom: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	opacity: .7
}

.lprojects .projectdet p + button {
	color: #FFF;
	background-color: transparent;
	margin-bottom: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	opacity: .7;
	margin: 10px 0px
}

.lprojects .controlerss i {
	font-size: 20px;
	color: #FFF
}


/* categories section */
.cate {
	margin-bottom: 80px;
}
.cate a {
	padding: 0px
}
.cate figure {
	position: relative;
	padding: 0px;
	overflow: hidden;
	max-height: 17em;
	min-height: 10em
}

.cate figure i {
	font-size: 30px;
	color: white;
	margin-bottom: 20px
}

.cate figure i + h4 {
	font-weight: bold;
	color: white;
}

.cate img {
	width: 100%;
	height: 100%
}

.cate figure figcaption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
    background-color: rgba(22, 160, 133, 0.66);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}


@keyframes blurrypluse {
	0% {
		-webkit-filter: blur(0px);
	}
	50% {
		-webkit-filter: blur(4px);
	}
	70% {
		-webkit-filter: blur(3px);
	}
	100% {
		-webkit-filter: blur(0px);
	}
}

@-webkit-keyframes blurrypluse {
	0% {
		-webkit-filter: blur(0px);
	}
	50% {
		-webkit-filter: blur(4px);
	}
	70% {
		-webkit-filter: blur(3px);
	}
	100% {
		-webkit-filter: blur(0px);
	}
}

.cate figure:hover img {
	transform: scale(1.5);
	animation: blurrypluse 3s infinite
}
.cate figure:hover figcaption {
	opacity: 1;
}


.cate figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.cate figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}




/* Scroll to top */
.scrollToTop{
	color: #FFFFFF;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 38px;
    cursor: pointer;
    background-color: rgb(22, 160, 133);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    display: none;
}

.scrollToTop:hover {
	color: #bdc3c7;
    border-radius: 0px;
}


